.profileForm {
  margin-top: 5em;
  background-color: white;
  padding: 3em;
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  border: solid grey 1px;
}

.profileInputs {
  margin: 1em;
  padding: 1em;
  border: solid black 2px;
  border-radius: 5px;
}

button {
  color: black;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  border: solid rgb(64, 131, 167) 2px;
}
