@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$color1: #fcfdafff;
$color2: #465362ff;
$color3: #82a3a1ff;
$color4: #f28f3bff;
$color5: #c8553dff;
$color6: #f4f6f6;
$color7: #b4c4ae;
$color8: #8898AA;

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
  background-color: #82A3A1;
  border-radius: 5px;
}

.editButton {
  margin-top: 200px;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 15%;
  margin-right: 20px;
  background-color: rgb(204, 90, 14);
  color: white;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  border-radius: 40px;
  padding: 5px;
}

  .editButton:hover {
    cursor: pointer;
  }

.mailButton {
  display: block;
  margin-bottom: 25px;
  position: relative;
  left: 1%;
  top: 29.4%;
  width: 140px;
  margin-right: 20px;
  background-color: rgb(5, 105, 114);
  color: white;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  border: rgb(1, 73, 73) 4px solid;
}

.modal {
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  right: 33%;
  top: 15%;
  background-color: $color8;
  border-radius: 5px;
}

.button {
  position: absolute;
  bottom: 10%;
  right: 10;
  box-shadow: 0 1px 5px $color2;
  cursor: pointer;
}

.bookLists {
  border-radius: 5px;
  background-color: rgb(128, 128, 128);
  display: flex;
  align-items: flex-start;
  justify-items: center;
  color: #f4f6f6;
  padding-right: 25px;
  list-style: none;
  overflow: auto;
  width: 50%;
}

.bookLists li {
  width: 150px;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
}

.sectionHeader {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 800;
  width: 150px;
}

.feedSection {
  position: absolute;
  width: 40%;
  right: 0;
  top: 90%;
  margin-right: 10px;
  margin-left: 5px;
}

.bio {
  position: absolute;
  width: 40%;
  right: 0;
  top: 50%;
  margin-right: 10px;
  margin-left: 5px;
}

.bioText {
  height: 175px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #c8553dff;
  color: #f4f6f6;
  padding-right: 25px;
  overflow: auto;
}

.bioText p {
  margin-top: 10px;
  margin-left: 10px;
}

.feed {
  border-radius: 5px;
  background-color: #c8553dff;
  color: #f4f6f6;
  padding-right: 25px;
  overflow: auto;

}

.feed li {
  margin-top: 5px;
  margin-bottom: 5px;
}

li {
  margin-left: 10px;
}
