.Home{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  #PageWrap {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
    background-color: #82A3A1;
    border-radius: 5px;
    button {
      border-radius: 5px;
    }
    button:hover{
      cursor: pointer;
      background-color: #F28F3B ;
    }
  }
  .Main{
    margin: 20px;
    padding: 20px;
    .BookSection {
      display: grid;
      grid-template-columns: 50% 50%;
      min-height: 200px;
      justify-content: center;
    }
    div{
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: solid;
    }
  }
}
