body {
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$color1: #fcfdafff;
$color2: #465362ff;
$color3: #82a3a1ff;
$color4: #f28f3bff;
$color5: #c8553dff;
$color6: #f4f6f6;
$color7: #b4c4ae;
$color8: #8898AA;
}

.Sidebar {
  .menuIcon {
    height: 50px;
    padding: 10px;
  }
  .menuIcon:hover {
   cursor: pointer;
   background-color: $color5;
   border-radius: 3px;
  }
}
