$color2: #465362ff;
$color7: #b4c4ae;

footer {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 5px;

  .Link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px $color2;
    width: 150px;
    background-color: $color7;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: $color2;
  }

  .Link:hover {
    color: white;
  }
}
